@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

#root {
  display: grid;
  place-items: center;
  width: 100vw;
}

.header {
  background-color: #5b04ba;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 2.4rem 0;
  margin-bottom: 2rem;
}

.form-add-task {
  width: 50rem;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 15px;
  margin-bottom: 3.6rem;
}

.input {
  padding: 1rem;
  font-size: 1.4rem;
  margin-bottom: 1.4rem;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 3px;
}

.input:focus {
  outline: 1px solid rgba(165, 165, 165, 0.528);
}

.btn {
  align-self: center;
  background-color: #5b04ba;
  border: none;
  color: #fff;
  font-size: 1.4rem;
  padding: 0.6rem 2rem;
  border-radius: 3px;
  cursor: pointer;
}

.task-list {
  width: 70rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.6rem;
}

.task-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description-checkbox-container {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.checkbox {
  border: none;
  accent-color: #5b04ba;
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 100%;
  cursor: pointer;
}

.actions-container {
  display: flex;
  gap: 1.4rem;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
  color: #444;
}
